<a href="https://colab.research.google.com/github/Abhi-nand/Python-Basic/blob/main/commonly_used_data_type_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list data type:
If we want to represent a group of values as a single entity where insertion order required
to preserve and duplicates are allowed then we should go for list data type.
1. insertion order is preserved
2. heterogeneous objects are allowed
3. duplicates are allowed
4. Growable in nature
5. values should be enclosed within square brackets.

In [44]:
lit=[10,10.5,'durga',True,10]
print(lit)

[10, 10.5, 'durga', True, 10]

In [45]:
lit=[10,20,30,40]
#list slicing
print(lit[0])# 10
print(lit[-1])# 40
print(lit[1:3])# [20, 30]

10
40
[20, 30]

In [46]:
#updating value in list
lit[0]=100
for i in lit:print(i)

100
20
30
40

In [47]:
# adding and removing element in list
lit=[10,20,30]
lit.append("india")
print(lit)
[10, 20, 30, 'india']
lit.remove(20)
print(lit)
[10, 30, 'india']
list2=lit*2
print(list2)

[10, 20, 30, 'india']
[10, 30, 'india']
[10, 30, 'india', 10, 30, 'india']

#tuple data type:
tuple data type is exactly same as list data type except that it is immutable.i.e we cannot chage values. Tuple elements can be represented within parenthesis.

In [37]:
t=(10,20,30,40)
type(t)

tuple

In [ ]:
t[0]=100 #TypeError: 'tuple' object does not support item assignment
t.append("india") #AttributeError: 'tuple' object has no attribute 'append'
t.remove(10) #AttributeError: 'tuple' object has no attribute 'remove'

#range Data Type:
range Data Type represents a sequence of numbers.
The elements present in range Data type are not modifiable. i.e range Data type is
immutable.

In [39]:
r = range(10,20,2)
#first agrument - start value
#second argument - stop value
#third argument - step count
for i in r : print(i)

10
12
14
16
18

In [40]:
#We can access elements present in the range Data Type by using index.
#We cannot modify the values of range data type
r=range(10,20)
r[0]

10

In [1]:
#We can create a list of values with range data type
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#Set Data Type:
If we want to represent a group of values without duplicates where order is not important
then we should go for set Data Type.

1. insertion order is not preserved
2. duplicates are not allowed
3. heterogeneous objects are allowed
4. index concept is not applicable
5. It is mutable collection
6. Growable in nature

In [3]:
s={100,0,10,200,10,'india'}
s

{0, 10, 100, 200, 'india'}

In [ ]:
s[0] #TypeError: 'set' object does not support indexing

In [4]:
#set is growable in nature, based on our requirement we can increase or decrease the size.
s.add(60)
print(s)
s.remove(100)
print(s)

{0, 100, 'india', 200, 10, 60}
{0, 'india', 200, 10, 60}

#frozenset Data Type:
It is exactly same as set except that it is immutable.
Hence we cannot use add or remove functions.

In [7]:
s={10,20,30,40}
fs=frozenset(s)
print(fs) 
type(fs)

frozenset({40, 10, 20, 30})

frozenset

In [ ]:
fs.add(70) #AttributeError: 'frozenset' object has no attribute 'add'
fs.remove(10) #AttributeError: 'frozenset' object has no attribute 'remove'

#dict Data Type:
If we want to represent a group of values as key-value pairs then we should go for dict
data type.

Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an
entry with duplicate key then old value will be replaced with new value.
Dict is mutable and the order wont be preserved.

In [9]:
d={101:'vishnu',102:'ravi',103:'shiva'}
d[101]='sunny'
d

{101: 'sunny', 102: 'ravi', 103: 'shiva'}

In [10]:
#We can create empty dictionary as follows
d={ }
#We can add key-value pairs as follows
d['a']='apple'
d['b']='banana'
print(d)

{'a': 'apple', 'b': 'banana'}