<a href="https://colab.research.google.com/github/Abhi-nand/Python-Basic/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#int data type
a=10
type(a)

int

In [10]:
#float data type
f=1.234
type(f)

float

In [12]:
f=1.2e3
print(f)
type(f)

1200.0

float

We can represent int values in decimal, binary, octal and hexa decimal forms. But we can
represent float values only by using decimal form

In [14]:
#Complex Data Type
a=0B11+5j
print(a)
print(3+5j)

(3+5j)
(3+5j)

In [13]:
a=3+0B11j # SyntaxError: invalid syntax

SyntaxError: ignored

In [16]:
#Even we can perform operations on complex type values.
a=10+1.5j
b=20+2.5j
c=a+b
print(c)
type(c)

(30+4j)

complex

In [18]:
#Complex data type has some inbuilt attributes to retrieve the real part and imaginary part
c=10.5+3.6j
print(c.real)  #10.5
print(c.imag)  #3.6

10.5
3.6

In [20]:
#bool data type
#The only allowed values for this data type are True and False
b=True
type(b)

bool

In [21]:
a=10
b=20
c=a<b
print(c)

True

In [22]:
print(True+True)
print(True-False)

2
1

In [24]:
#str type:
#str represents String data type.
#A String is a sequence of characters enclosed within single quotes or double quotes
s1='India'
s1

'India'

In [28]:
#We can also use triple quotes (multi line) to use single quote or double quote in our String.
print('''This "Python class very helpful" for java students''')

This "Python class very helpful" for java students