<a href="https://colab.research.google.com/github/Abhi-nand/Python-Basic/blob/main/Type_Casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***We can convert one type value to another type. This conversion is called Typecasting. The following are various inbuilt functions for type casting.***
1. int()
2. float()
3. complex()
4. bool()
5. str()

#1.int():
#We can use this function to convert values from other types to int

In [12]:
print(int(123.987))
print(int(True))
print(int(False))
print(int("10"))

123
1
0
10

In [ ]:
print(int(10+5j))  #TypeError: can't convert complex to int
print(int("10.5"))    # ValueError: invalid literal for int() with base 10: '10.5'
print(int("ten"))    #  ValueError: invalid literal for int() with base 10: 'ten'
print(int("0B1111"))  # ValueError: invalid literal for int() with base 10: '0B1111'

1. We can convert from any type to int except complex type.
2. If we want to convert str type to int type, compulsary str should contain only integral value and should be specified in base-10

#2. float():
#We can use float() function to convert other type values to float type.

In [14]:
print(float(10))
print(float(True))
print(float(False))
print(float("10"))
print(float("10.5"))

10.0
1.0
0.0
10.0
10.5

In [ ]:
float(10+5j)  # TypeError: can't convert complex to float
float("ten")  # ValueError: could not convert string to float: 'ten'
float("0B1111") # ValueError: could not convert string to float: '0B1111'

1. We can convert any type value to float type except complex type.
2. Whenever we are trying to convert str type to float type compulsary str should be either integral or floating point literal and should be specified only in base-10.

#3.complex():
#We can use complex() function to convert other types to complex type.

In [16]:
print(complex(10,-2))
print(complex(True,False))
print(complex(10))
print(complex(10.5))
print(complex(10.5))
print(complex(False))
print(complex("10"))
print(complex("10.5"))

(10-2j)
(1+0j)
(10+0j)
(10.5+0j)
(10.5+0j)
0j
(10+0j)
(10.5+0j)

In [ ]:
complex("ten") # ValueError: complex() arg is a malformed string

#4. bool():
#We can use this function to convert other type values to bool type.

In [17]:
print(bool(0),
'\n', bool(1),
'\n', bool(10),
'\n', bool(10.5),
'\n', bool(0.178),
'\n', bool(0.0),
'\n', bool(10-2j),
'\n', bool(0+1.5j),
'\n', bool(0+0j),
'\n', bool("True"),
'\n', bool("False"),
'\n', bool(""))

False
 True
 True
 True
 True
 False
 True
 True
 False
 True
 True
 False

#5. str():
#We can use this method to convert other type values to str type

In [21]:
print(str(10),'\n',
str(10.5),'\n',
str(10+5j),'\n',
str(True))

10
 10.5
 (10+5j)
 True

#6.bytes Data Type:
bytes data type represens a group of byte numbers just like an array.

In [26]:
x = [10,20,30,40]
b = bytes(x)
print(type(b))
print(b[0])
print(b[-1])

<class 'bytes'>
10
40

Conclusion 1:The only allowed values for byte data type are 0 to 256. By mistake if we are trying to provide any other values then we will get value error.

Conclusion 2: Once we creates bytes data type value, we cannot change its values,otherwise we will get TypeError

In [27]:
x=[10,20,30,40]
b=bytes(x)
b[0]=100 #TypeError: 'bytes' object does not support item assignment

TypeError: ignored

#7.bytearray Data type:
#Bytearray is exactly same as bytes data type except that its elements can be modified.

In [28]:
x=[10,20,30,40]
b = bytearray(x)
for i in b : print(i)

10
20
30
40

In [30]:
b[0]=100
for i in b: print(i)

100
20
30
40